In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.4.2-cp310-cp310-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 9.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\alcor\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     ------------------------------------- 503.5/503.5 KB 10.5 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.22.4-cp310-cp310-win_amd64.whl (14.7 MB)
     --------------------------------------- 14.7/14.7 MB 10.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\alcor\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.4 pandas-1.4.2 pytz-2022.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'C:\Users\alcor\AppData\Roaming\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

In [19]:
import csv

In [2]:
%pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\alcor\appdata\roaming\python\python310\site-packages (1.22.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
%pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
     -------------------------------------- 292.8/292.8 KB 2.0 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.23 in c:\users\alcor\appdata\roaming\python\python310\site-packages (from seaborn) (1.4.2)
Collecting matplotlib>=2.2
  Downloading matplotlib-3.5.2-cp310-cp310-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 8.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.15 in c:\users\alcor\appdata\roaming\python\python310\site-packages (from seaborn) (1.22.4)
Collecting scipy>=1.0
  Downloading scipy-1.8.1-cp310-cp310-win_amd64.whl (36.9 MB)
     ---------------------------------------- 36.9/36.9 MB 9.6 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.3-cp310-cp310-win_amd64.whl (55 kB)
     ---------------------------------------- 55.3/55.3 KB ? eta 0:00:00
Collecting pillow>=6.2.0
  Downloading Pillow-9.1.1-cp310-cp310-win_amd64.whl (3.3 MB)
     ---------------------------------------- 3.3/3.3 MB 11.0 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\alcor\appdata\roaming\python\python310\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.33.3-py3-none-any.whl (930 kB)
     -------------------------------------- 930.9/930.9 KB 5.4 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\alcor\appdata\roaming\python\python310\site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\alcor\appdata\roaming\python\python310\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\alcor\appdata\roaming\python\python310\site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\alcor\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: scipy, pillow, kiwisolver, fonttools, cycler, matplotlib, seaborn
Successfully installed cycler-0.11.0 fonttools-4.33.3 kiwisolver-1.4.3 matplotlib-3.5.2 pillow-9.1.1 scipy-1.8.1 seaborn-0.11.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts fonttools.exe, pyftmerge.exe, pyftsubset.exe and ttx.exe are installed in 'C:\Users\alcor\AppData\Roaming\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

In [5]:
%pip install datetime

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable
Collecting datetime
  Downloading DateTime-4.4-py2.py3-none-any.whl (51 kB)
     ---------------------------------------- 51.7/51.7 KB 1.3 MB/s eta 0:00:00
Collecting zope.interface
  Downloading zope.interface-5.4.0.tar.gz (249 kB)
     -------------------------------------- 249.3/249.3 KB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pytz in c:\users\alcor\appdata\roaming\python\python310\site-packages (from datetime) (2022.1)
Requirement already satisfied: setuptools in c:\program files\python310\lib\site-packages (from zope.interface->datetime) (58.1.0)
Using legacy 'setup.py install' for zope.interface, since package 'wheel' is not installed.
Installing collected packages: zope.interface, datetime
  Running setup.py install for zope.interface: started
  Running setup.py install for zope.interface: finished with status 'done'
Successfully installed datetime-4.4 zope.interface-5.4.0

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

## Cargando librerias

In [67]:
import pandas as pd
import numpy as np
import seaborn as sns
import csv

from datetime import datetime

## Cargando info

In [7]:
dataset="Forbes Richest Atheletes (Forbes Richest Athletes 1990-2020) (3).csv"
df_dataset=pd.read_csv(dataset)

In [8]:
# buscando unicos en rango actual
df_dataset["Current Rank"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

## Limpieza

In [10]:
# copiamos el dataframe para no alterar el original
df_dataset2=df_dataset.copy()

In [30]:
#Pasamos a mayusculas para tener los datos iguales
df_dataset2["Sport"]=df_dataset["Sport"].str.upper()
df_dataset2["Name"]=df_dataset["Name"].str.upper()
df_dataset2["Nationality"]=df_dataset["Nationality"].str.upper()

## Limpiando los deportes

In [12]:
#buscamos los unicos en Deportes
df_dataset2["Sport"].unique()

array(['BOXING', 'AUTO RACING', 'GOLF', 'BASKETBALL', 'TENNIS', 'NFL',
       'NBA', 'BASEBALL', 'ICE HOCKEY', 'AMERICAN FOOTBALL / BASEBALL',
       'F1 MOTORSPORTS', 'NASCAR', 'HOCKEY', 'AUTO RACING (NASCAR)',
       'F1 RACING', 'AMERICAN FOOTBALL', 'SOCCER', 'CYCLING',
       'MOTORCYCLE GP', 'MMA'], dtype=object)

In [17]:
# Arreglando los deportes
df_dataset2["Sport"]=df_dataset2["Sport"].apply(lambda x: x.replace("NBA","BASKETBALL"))
df_dataset2["Sport"]=df_dataset2["Sport"].apply(lambda x: x.replace("AUTO RACING (NASCAR)", "NASCAR"))
df_dataset2["Sport"]=df_dataset2["Sport"].apply(lambda x: x.replace("NFL", "AMERICAN FOOTBALL"))
df_dataset2["Sport"]=df_dataset2["Sport"].apply(lambda x: x.replace("ICE HOCKEY", "HOCKEY"))
df_dataset2["Sport"]=df_dataset2["Sport"].apply(lambda x: x.replace("AMERICAN FOOTBALL / BASEBALL","AMERICAN FOOTBALL"))
df_dataset2["Sport"]=df_dataset2["Sport"].apply(lambda x: x.replace("AUTO RACING","F1 RACING"))
df_dataset2["Sport"]=df_dataset2["Sport"].apply(lambda x: x.replace("F1 MOTORSPORTS","F1 RACING"))

In [18]:
df_dataset2["Sport"].unique()

array(['BOXING', 'F1 RACING', 'GOLF', 'BASKETBALL', 'TENNIS',
       'AMERICAN FOOTBALL', 'BASEBALL', 'HOCKEY', 'NASCAR', 'SOCCER',
       'CYCLING', 'MOTORCYCLE GP', 'MMA'], dtype=object)

In [21]:
#Limpiando Rango del año anterior
df_dataset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S.NO                  301 non-null    int64
 1   Name                  301 non-null    object
 2   Nationality           301 non-null    object
 3   Current Rank          301 non-null    int64
 4   Previous Year Rank    277 non-null    object
 5   Sport                 301 non-null    object
 6   Year                  301 non-null    int64
 7   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 18.9+ KB

In [22]:
#Pasamos los NaN a 0
df_dataset2["Previous Year Rank"].fillna(120, inplace=True)

In [24]:
#Limpiamos valores no númericos cambiandolo por un cero
df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]=="not ranked"]=120
df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]=="??"]=0
df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]=="?"]=0
df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]=="none"]=0
df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">10"]=11
df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">14"]=15
df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">20"]=21
df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">30"]=31
df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">40"]=41
df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">100"]=101

C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\2751465036.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]=="not ranked"]=120
C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\2751465036.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]=="??"]=0
C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\2751465036.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]=="?"]=0
C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\2751465036.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]=="none"]=0
C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\2751465036.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">10"]=11
C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\2751465036.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">14"]=15
C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\2751465036.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">20"]=21
C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\2751465036.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">30"]=31
C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\2751465036.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">40"]=41
C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\2751465036.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dataset2["Previous Year Rank"][df_dataset2["Previous Year Rank"]==">100"]=101

In [25]:
df_dataset2["Previous Year Rank"].unique()

array([120, '8', '1', 31, '4', '5', '12', '6', '3', '9', '17', '13', '10',
       41, '19', '40', '7', '11', '30', '22', '20', '38', '2', '15', '14',
       '26', 0, '18', 11, 21, '24', '21', 15, 101], dtype=object)

In [26]:
#Limpiando S.NO - borramos las celdas sin valor
df_dataset2.drop(columns=["S.NO"], inplace=True)
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S.NO                  301 non-null    int64
 1   Name                  301 non-null    object
 2   Nationality           301 non-null    object
 3   Current Rank          301 non-null    int64
 4   Previous Year Rank    277 non-null    object
 5   Sport                 301 non-null    object
 6   Year                  301 non-null    int64
 7   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 18.9+ KB

In [27]:
# Agregamos una columna de tipo datetime
df_dataset2['year_dt'] = pd.to_datetime(df_dataset2['Year'],format='%Y')
#Cambiamos el formato
df_dataset2["year_dt"]=pd.DatetimeIndex(df_dataset2["year_dt"]).year

In [28]:
#Veamos los valores de la columna de fecha
df_dataset2["year_dt"].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

In [36]:
df_dataset2["Name"]=df_dataset["Name"].str.upper()

In [34]:
#Limpiamos la columna Nombre

df_dataset["Name"].sort_values(ascending=True).unique()

array(['Aaron Rodgers', 'Aaron Rogers', 'Alain Prost', 'Alex Rodriguez',
       'Andre Agassi', 'Andrew Luck', 'Arnold Palmer', 'Ayrton Senna',
       'Buster Douglas', 'Cam Newton', 'Canelo Alvarez', 'Carson Wentz',
       'Cecil Fielder', 'Conor McGregor', 'Cristiano Ronaldo',
       'Dale Earnhardt', 'Dale Earnhardt Jr.', 'David Beckham',
       'Deion Sanders', 'Dennis Rodman', 'Donovan "Razor" Ruddock',
       'Drew Brees', 'Eli Manning', 'Emmit Smith', 'Evander Holyfield',
       'Floyd Mayweather', 'Gary Sheffield', 'George Foreman',
       'Gerhard Berger', 'Grant Hill', 'Greg Norman', 'Jack Nicklaus',
       'Jacques Villeneuve', 'James Harden', 'Jeff Gordon', 'Jim Courier',
       'Joe Montana', 'Joe Sakic', 'Jordan Spieth', 'Kevin Durant',
       'Kevin Garnett', 'Kimi Raikkonen', 'Kirk Cousins', 'Kobe Bryant',
       'Lance Armstrong', 'LeBron James', 'Lennox Lewis',
       'Lewis Hamilton', 'Lionel Messi', 'Manny Pacquiao', 'Matt Ryan',
       'Matthew Stafford', 'Michael Jordan', 'Michael Moorer',
       'Michael Schumacher', 'Michael Vick', 'Mike Tyson', 'Monica Seles',
       'Muhammad Ali', 'Neymar', 'Nigel Mansell', 'Novak Djokovic',
       'Oscar De La Hoya', 'Patrick Ewing', 'Peyton Manning',
       'Phil Mickelson', 'Rafael Nadal', 'Riddick Bowe', 'Roger Federer',
       'Ronaldinho', 'Rory McIlroy', 'Russell Wilson', 'Sergei Federov',
       "Shaq O'Neal", "Shaquille O'Neal", 'Stephen Curry',
       'Sugar Ray Leonard', 'Terrell Suggs', 'Tiger Woods', 'Tom Brady',
       'Valentino Rossi', 'Wayne Gretzky'], dtype=object)

In [39]:
df_dataset2["Name"]=df_dataset2["Name"].apply(lambda x: x.replace("AARON ROGERS","AARON RODGERS"))

In [42]:
df_dataset2["Name"].sort_values(ascending=True).unique()

array(['AARON RODGERS', 'ALAIN PROST', 'ALEX RODRIGUEZ', 'ANDRE AGASSI',
       'ANDREW LUCK', 'ARNOLD PALMER', 'AYRTON SENNA', 'BUSTER DOUGLAS',
       'CAM NEWTON', 'CANELO ALVAREZ', 'CARSON WENTZ', 'CECIL FIELDER',
       'CONOR MCGREGOR', 'CRISTIANO RONALDO', 'DALE EARNHARDT',
       'DALE EARNHARDT JR.', 'DAVID BECKHAM', 'DEION SANDERS',
       'DENNIS RODMAN', 'DONOVAN "RAZOR" RUDDOCK', 'DREW BREES',
       'ELI MANNING', 'EMMIT SMITH', 'EVANDER HOLYFIELD',
       'FLOYD MAYWEATHER', 'GARY SHEFFIELD', 'GEORGE FOREMAN',
       'GERHARD BERGER', 'GRANT HILL', 'GREG NORMAN', 'JACK NICKLAUS',
       'JACQUES VILLENEUVE', 'JAMES HARDEN', 'JEFF GORDON', 'JIM COURIER',
       'JOE MONTANA', 'JOE SAKIC', 'JORDAN SPIETH', 'KEVIN DURANT',
       'KEVIN GARNETT', 'KIMI RAIKKONEN', 'KIRK COUSINS', 'KOBE BRYANT',
       'LANCE ARMSTRONG', 'LEBRON JAMES', 'LENNOX LEWIS',
       'LEWIS HAMILTON', 'LIONEL MESSI', 'MANNY PACQUIAO', 'MATT RYAN',
       'MATTHEW STAFFORD', 'MICHAEL JORDAN', 'MICHAEL MOORER',
       'MICHAEL SCHUMACHER', 'MICHAEL VICK', 'MIKE TYSON', 'MONICA SELES',
       'MUHAMMAD ALI', 'NEYMAR', 'NIGEL MANSELL', 'NOVAK DJOKOVIC',
       'OSCAR DE LA HOYA', 'PATRICK EWING', 'PEYTON MANNING',
       'PHIL MICKELSON', 'RAFAEL NADAL', 'RIDDICK BOWE', 'ROGER FEDERER',
       'RONALDINHO', 'RORY MCILROY', 'RUSSELL WILSON', 'SERGEI FEDEROV',
       "SHAQ O'NEAL", "SHAQUILLE O'NEAL", 'STEPHEN CURRY',
       'SUGAR RAY LEONARD', 'TERRELL SUGGS', 'TIGER WOODS', 'TOM BRADY',
       'VALENTINO ROSSI', 'WAYNE GRETZKY'], dtype=object)

In [44]:
#Arreglamos la columna de nacionalidad
df_dataset2["Nationality"].sort_values(ascending=True).unique()

array(['ARGENTINA', 'AUSTRALIA', 'AUSTRIA', 'BRAZIL', 'CANADA',
       'DOMINICAN', 'FILIPINO', 'FINLAND', 'FRANCE', 'GERMANY', 'IRELAND',
       'ITALY', 'MEXICO', 'NORTHERN IRELAND', 'PHILIPPINES', 'PORTUGAL',
       'RUSSIA', 'SERBIA', 'SPAIN', 'SWITZERLAND', 'UK', 'USA'],
      dtype=object)

In [45]:
df_dataset2["Nationality"]=df_dataset2["Nationality"].apply(lambda x: x.replace("PHILIPPINES", "FILIPINO"))

In [46]:
#Convertimos el rank a int
df_dataset2["Current Rank"]=df_dataset2["Current Rank"].astype('int64')

In [47]:
#Lo pasamos a entero
df_dataset2["Previous Year Rank"]=df_dataset2["Previous Year Rank"].astype('int64')

In [50]:
#creamos la columna rank_improve, si=1 su rank mejoro
df_dataset2["rank_improve"]=np.where(
    (df_dataset2["Current Rank"]<df_dataset2["Previous Year Rank"]),
    1,
    0
)

In [49]:
df_dataset2["c"]=1

In [54]:
# Creamos un df limpio
df_dataset3=df_dataset2.copy()
df_dataset3.to_csv("Datos_Limpios.csv")

# Deportistas cuyo ranking ha subido al menos dos lugares entre 2010 y 2020

In [55]:
df_dataset2.to_csv("Datos_Limpios.csv")

In [56]:
jugadores=df_dataset2["Name"].sort_values(ascending=True).unique()

In [80]:
def Ascenso_jug(jugadores, datos):
    dic={}
    ascenso=0
    for jugador in jugadores:
        for index, row in datos[(datos["Name"]==jugador)&(datos["year_dt"]>=2010)].iterrows():
            current=int(row["Current Rank"])
            previous=int(row["Previous Year Rank"])
            if current<previous:
                ascenso=ascenso+1
        if ascenso>2:
            dic[jugador]=ascenso
        ascenso=0
    data_frame=pd.DataFrame(list(dic.items()), columns=["jugador","crecimiento_rankin"])
    return data_frame

In [81]:
ascenso_df=Ascenso_jug(jugadores , df_dataset2)

In [87]:
ascenso_df=ascenso_df.sort_values("crecimiento_rankin", ascending=False)

In [88]:
ascenso_df.to_csv("ascenso_jugadores.csv")

In [89]:
Ascenso=pd.read_csv('ascenso_jugadores.csv')
Ascenso

   Unnamed: 0            jugador  crecimiento_rankin
0           5      ROGER FEDERER                   7
1           4       LIONEL MESSI                   6
2           0  CRISTIANO RONALDO                   5
3           3       LEBRON JAMES                   5
4           2       KEVIN DURANT                   4
5           1   FLOYD MAYWEATHER                   3

## Atleta con el menor número de apariciones y mayores ganancias

In [101]:
df_atleta=df_dataset2.groupby(["Name"])[["c", "earnings ($ million)"]].sum()
df_atleta=df_dataset2.sort_values(by=["c", "earnings ($ million)"], ascending=(True, False))
df_atleta.reset_index(inplace=True)

In [113]:
df_atleta.head(1)

,index,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million),year_dt,rank_improve,c
0,241,FLOYD MAYWEATHER,USA,1,1,BOXING,2015,300.0,2015,0,1

## Deporte y país con mayor número de atletas no rankeados que entraron en la lista de atletas mejor pagados

In [115]:
df_dataset2["Current Rank"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [116]:
df_dataset2.columns

Index(['Name', 'Nationality', 'Current Rank', 'Previous Year Rank', 'Sport',
       'Year', 'earnings ($ million)', 'year_dt', 'rank_improve', 'c'],
      dtype='object')

In [126]:
df_DepPa=df_dataset2.groupby(["Sport", "Nationality"])[["c"]].sum().sort_values("c", ascending=False)
df_DepPa.reset_index(inplace=False).head(1)

        Sport Nationality   c
0  BASKETBALL         USA  81

## País con mayor número de deportes con atletas en el dataset

In [125]:
df_PaDep=df_dataset2.groupby(["Nationality"])["c"].sum().sort_values(ascending=False).to_frame()
df_PaDep.reset_index(inplace=True)
df_PaDep.head(1)

  Nationality    c
0         USA  206

## Cuántos atletas por deporte tiene cada país

In [131]:
df_AtDep=df_dataset2.groupby(["Sport", "Nationality"])["c"].sum().sort_values(False).to_frame()
df_AtDep.reset_index(inplace=True)

C:\Users\alcor\AppData\Local\Temp\ipykernel_12352\1476682071.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  df_AtDep=df_dataset2.groupby(["Sport", "Nationality"])["c"].sum().sort_values(False).to_frame()

In [132]:
df_AtDep=df_AtDep.sort_values(["c"], ascending=True)
df_AtDep

                           Sport       Nationality   c
0                         BOXING            MEXICO   1
14                   AUTO RACING               USA   1
13  AMERICAN FOOTBALL / BASEBALL               USA   1
12                   AUTO RACING           AUSTRIA   1
11                           MMA           IRELAND   1
10                    ICE HOCKEY            RUSSIA   1
8                        CYCLING               USA   1
9                           GOLF         AUSTRALIA   1
6                         HOCKEY            CANADA   1
5                         TENNIS             SPAIN   1
4                         BOXING            CANADA   1
3                           GOLF  NORTHERN IRELAND   1
2                            NBA               USA   1
1                         TENNIS            SERBIA   1
7                       BASEBALL         DOMINICAN   1
15                    ICE HOCKEY            CANADA   2
16                   AUTO RACING            CANADA   2
17          AUTO RACING (NASCAR)               USA   2
22                           NFL               USA   3
21                   AUTO RACING            FRANCE   3
19                     F1 RACING           FINLAND   3
18                        NASCAR               USA   3
20                   AUTO RACING           GERMANY   3
23                        BOXING          FILIPINO   4
24                   AUTO RACING                UK   4
25                 MOTORCYCLE GP             ITALY   4
26                   AUTO RACING            BRAZIL   4
30                      BASEBALL               USA   5
29                        SOCCER            BRAZIL   5
27                     F1 RACING           GERMANY   5
28                F1 MOTORSPORTS           GERMANY   5
31                        SOCCER                UK   9
32                        TENNIS               USA   9
33                        SOCCER         ARGENTINA   9
34                        SOCCER          PORTUGAL  10
35                        TENNIS       SWITZERLAND  12
36             AMERICAN FOOTBALL               USA  17
37                        BOXING               USA  40
38                          GOLF               USA  42
39                    BASKETBALL               USA  81

## Ganancia mínima y máxima (dentro del dataset) por deporte y país

In [137]:
df_GanDepPa=df_dataset2.groupby('Nationality').agg({'earnings ($ million)':[np.max,np.min]})
df_GanDepPa.columns=['Max','Min']
df_GanDepPa=df_GanDepPa.reset_index()
df_GanDepPa.sort_values(by=['Max', 'Min'], ascending = [False,True])

         Nationality    Max   Min
20               USA  300.0   8.1
6           FILIPINO  160.0  40.0
0          ARGENTINA  127.0  32.3
14          PORTUGAL  109.0  38.0
18       SWITZERLAND  106.3  35.0
3             BRAZIL  105.0  10.0
10           IRELAND   99.0  99.0
12            MEXICO   94.0  94.0
9            GERMANY   80.0  15.0
16            SERBIA   55.8  55.8
19                UK   50.0   9.0
13  NORTHERN IRELAND   50.0  50.0
7            FINLAND   45.0  40.0
17             SPAIN   44.5  44.5
11             ITALY   35.0  28.0
5          DOMINICAN   35.0  35.0
15            RUSSIA   29.8  29.8
4             CANADA   23.0  10.2
8             FRANCE   16.0   9.0
2            AUSTRIA   13.5  13.5
1          AUSTRALIA    8.5   8.5

## Atleta con mayores ganancias por deporte por década

In [138]:
df_dataset2['Year'].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

In [156]:
mas_ganancias=df_dataset2.copy()
years = 10

min_year = min(mas_ganancias['Year'])
max_year = max(mas_ganancias['Year'])

decades = list(range(min_year, max_year + years + 1, years))

intervalos_dec=[[decades[i],decades[i+1]-1] for i,_ in enumerate(decades) if len(decades)-1 > i]

def decades_range(year):
    for intervalos in intervalos_dec:
        if intervalos[0] <= year <= intervalos[1]:
            return str(intervalos[0]) + '-' + str(intervalos[1])
    return None

mas_ganancias['Intervals.Decade'] = mas_ganancias['Year'].apply(decades_range)

In [157]:

mas_ganancias

,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million),year_dt,rank_improve,c,Intervals.Decade
0,MIKE TYSON,USA,1,120,BOXING,1990,28.6,1990,1,1,1990-1999
1,BUSTER DOUGLAS,USA,2,120,BOXING,1990,26.0,1990,1,1,1990-1999
2,SUGAR RAY LEONARD,USA,3,120,BOXING,1990,13.0,1990,1,1,1990-1999
3,AYRTON SENNA,BRAZIL,4,120,AUTO RACING,1990,10.0,1990,1,1,1990-1999
4,ALAIN PROST,FRANCE,5,120,AUTO RACING,1990,9.0,1990,1,1,1990-1999
...,...,...,...,...,...,...,...,...,...,...,...
296,STEPHEN CURRY,USA,6,9,BASKETBALL,2020,74.4,2020,1,1,2020-2029
297,KEVIN DURANT,USA,7,10,BASKETBALL,2020,63.9,2020,1,1,2020-2029
298,TIGER WOODS,USA,8,11,GOLF,2020,62.3,2020,1,1,2020-2029
299,KIRK COUSINS,USA,9,101,AMERICAN FOOTBALL,2020,60.5,2020,1,1,2020-2029
300,CARSON WENTZ,USA,10,101,AMERICAN FOOTBALL,2020,59.1,2020,1,1,2020-2029

In [160]:
mas_ganancias=mas_ganancias[['Intervals.Decade', 'Sport','Name','earnings ($ million)']].groupby(['Intervals.Decade', 'Sport', 'Name']).sum().reset_index()
mayor_ganancia=mas_ganancias.groupby(['Intervals.Decade', 'Sport']).max()
mayor_ganancia

                                                             Name  \
Intervals.Decade Sport
1990-1999        AMERICAN FOOTBALL / BASEBALL       DEION SANDERS
                 AUTO RACING                        NIGEL MANSELL
                 BASEBALL                          GARY SHEFFIELD
                 BASKETBALL                      SHAQUILLE O'NEAL
                 BOXING                         SUGAR RAY LEONARD
                 F1 MOTORSPORTS                MICHAEL SCHUMACHER
                 GOLF                                 TIGER WOODS
                 HOCKEY                                 JOE SAKIC
                 ICE HOCKEY                         WAYNE GRETZKY
                 NASCAR                            DALE EARNHARDT
                 NBA                             SHAQUILLE O'NEAL
                 NFL                                  JOE MONTANA
                 TENNIS                              MONICA SELES
2000-2009        AMERICAN FOOTBALL                      TOM BRADY
                 AUTO RACING                   MICHAEL SCHUMACHER
                 AUTO RACING (NASCAR)                 JEFF GORDON
                 BASEBALL                          ALEX RODRIGUEZ
                 BASKETBALL                      SHAQUILLE O'NEAL
                 BOXING                          OSCAR DE LA HOYA
                 CYCLING                          LANCE ARMSTRONG
                 F1 MOTORSPORTS                MICHAEL SCHUMACHER
                 F1 RACING                     MICHAEL SCHUMACHER
                 GOLF                                 TIGER WOODS
                 MOTORCYCLE GP                    VALENTINO ROSSI
                 NASCAR                        DALE EARNHARDT JR.
                 SOCCER                                RONALDINHO
                 TENNIS                             ROGER FEDERER
2010-2019        AMERICAN FOOTBALL                  TERRELL SUGGS
                 AUTO RACING                       LEWIS HAMILTON
                 BASEBALL                          ALEX RODRIGUEZ
                 BASKETBALL                         STEPHEN CURRY
                 BOXING                            MANNY PACQUIAO
                 F1 RACING                     MICHAEL SCHUMACHER
                 GOLF                                 TIGER WOODS
                 MMA                               CONOR MCGREGOR
                 SOCCER                                    NEYMAR
                 TENNIS                             ROGER FEDERER
2020-2029        AMERICAN FOOTBALL                   KIRK COUSINS
                 BASKETBALL                         STEPHEN CURRY
                 GOLF                                 TIGER WOODS
                 SOCCER                                    NEYMAR
                 TENNIS                             ROGER FEDERER

                                               earnings ($ million)
Intervals.Decade Sport
1990-1999        AMERICAN FOOTBALL / BASEBALL                  22.5
                 AUTO RACING                                   64.0
                 BASEBALL                                      17.2
                 BASKETBALL                                   409.8
                 BOXING                                       235.1
                 F1 MOTORSPORTS                               106.0
                 GOLF                                          99.9
                 HOCKEY                                        17.9
                 ICE HOCKEY                                    29.8
                 NASCAR                                        43.2
                 NBA                                           15.2
                 NFL                                           21.0
                 TENNIS                                        53.6
2000-2009        AMERICAN FOOTBALL                             42.0
                 AUTO RACING                                   59.0
                 AUTO RACING (NASCAR)                          24.5
                 BASEBALL                                      81.2
                 BASKETBALL                                   329.0
                 BOXING                                       134.0
                 CYCLING                                       28.0
                 F1 MOTORSPORTS                               142.0
                 F1 RACING                                    234.0
                 GOLF                                         782.3
                 MOTORCYCLE GP                                128.0
                 NASCAR                                        34.0
                 SOCCER                                       185.5
                 TENNIS                                        52.2
2010-2019        AMERICAN FOOTBALL                            138.3
                 AUTO RACING                                   46.0
                 BASEBALL                                      35.0
                 BASKETBALL                                   678.6
                 BOXING                                       840.0
                 F1 RACING                                     34.0
                 GOLF                                         429.3
                 MMA                                           99.0
                 SOCCER                                       682.1
                 TENNIS                                       639.8
2020-2029        AMERICAN FOOTBALL                             60.5
                 BASKETBALL                                    88.2
                 GOLF                                          62.3
                 SOCCER                                       105.0
                 TENNIS                                       106.3

## Ganancia total por cada deporte por cada año

In [162]:
ganancia_total= df_dataset2

ganancia_total= ganancia_total[['Year', 'Sport','earnings ($ million)']].groupby(['Year','Sport']).sum()
ganancia_total.columns = ['Ganancia total en millones']
ganancia_total

                        Ganancia total en millones
Year Sport
1990 AUTO RACING                              19.0
     BASKETBALL                                8.1
     BOXING                                   75.7
     GOLF                                     25.2
1991 AUTO RACING                              33.0
...                                            ...
2020 AMERICAN FOOTBALL                       119.6
     BASKETBALL                              226.5
     GOLF                                     62.3
     SOCCER                                  304.5
     TENNIS                                  106.3

[176 rows x 1 columns]